@font-face {
    font-family: "STXiHei";
    src: url('/static/museum/fonts/STXiHei.ttf');
}

@font-face {
    font-family: "STHeiTi";
    src: url('/static/museum/fonts/STHeiTi.ttf');
}

@font-face {
    font-family: "HelveticaNeueBold";
    src: url('/static/museum/fonts/HelveticaNeue/HelveticaNeueLTPro-Bd_0.otf');
}
