* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0px auto;
	min-width: 1035px;
	font-family: Heiti SC;
}

a:focus {
	outline: none;
}

input:focus {
	outline: none;
}

/* Top - Start */

.title {
	margin: 0px auto;
	margin-top: 7px;
	width: 708px;
	height: 84px;
}

.dtam {
	float: left;
	margin-right: 26px;
}

.sta_logo {
	margin-left: 329px;
}

.nav {
	margin-top: 12px;
	margin-right: -9px;
}

.nav a {
	font-size: 12px;
	display: inline-block;
	margin: 0px 9px;
	color: #666;
	text-decoration: none;
	height: 18px;
}

.current {
	background: url("../img/highlight.png") repeat-x bottom;
}

.search {
	margin: 0px auto;
	margin-bottom: 9px;
	width: 704px;
}

/* Top - End */


/* From Bootstrap - Start */

.input-group {
	position: relative;
	display: table;
	border-collapse: separate;
}

.input-group-addon-left, .input-group-addon-right {
	padding: 6px 12px;
	font-size: 14px;
	color: #ccc;
	text-align: center;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	display:table-cell;
}

.input-group-addon-left {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
}

.input-group-addon-right {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 0;
}

.form-control {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 0;
	height: 32px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #ededed;
	border: 1px solid #ccc;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	margin: 0;
}

/* From Bootstrap - End */

.museum-main-container {
    width: 100%;
    background-color: #ededed;
    padding: 20px 0px 20px 0px;
    
    -moz-box-shadow:    inset 0 12px 20px -10px #555;
    -webkit-box-shadow: inset 0 12px 20px -10px #555;
    box-shadow:         inset 0 12px 20px -10px #555;
}

.museum-container {
    width: 38.9%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* for footer */
    padding-bottom: 50px;
}

.carousel-inner > .item > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    max-height: 627px;
    max-width: 936px;
    height: auto;
}

.museum-block {
    background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 8px;
    margin: 12px 12px 12px 12px;
}

.museum-block > hr {
    margin: auto 0px;
}

.museum-entry-name {
    font-size: 171%;
    font-family: "STHeiTi";
    padding: 1.35% 3.09% 1.35% 3.09%;
}

.museum-entry-content {
    font-size: 114%;
    font-family: "STXiHei";
    padding: 3.35% 3.09% 1.35% 3.09%;
    text-indent: 2em;
}

.museum-entry-carousel {
    padding: 10px 3.09% 10px 3.09%;
}

.museum-entry-carousel-description {
    font-size: 114%;
    font-family: "STXiHei";
    padding: 3.35% 3.09% 1.35% 3.09%;
}

.museum-entry-video {
    padding: 10px 4.09% 10px 4.09%;
    text-align: center;
}

.museum-entry-video-description {
    font-size: 114%;
    font-family: "STXiHei";
    padding: 3.35% 3.09% 1.35% 3.09%;
}
