* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0px auto;
	min-width: 1035px;
	font-family: Heiti SC;
}

a:focus {
	outline: none;
}

input:focus {
	outline: none;
}

/* Top - Start */

.title {
	margin: 0px auto;
	margin-top: 7px;
	width: 708px;
	height: 84px;
}

.dtam {
	float: left;
	margin-right: 26px;
}

.sta_logo {
	margin-left: 329px;
}

.nav {
	margin-top: 12px;
	margin-right: -9px;
}

.nav a {
	font-size: 12px;
	display: inline-block;
	margin: 0px 9px;
	color: #666;
	text-decoration: none;
	height: 18px;
}

.current {
	background: url("../img/highlight.png") repeat-x bottom;
}

.search {
	margin: 0px auto;
	margin-bottom: 9px;
	width: 704px;
}

/* Top - End */


/* From Bootstrap - Start */

.input-group {
	position: relative;
	display: table;
	border-collapse: separate;
}

.input-group-addon-left, .input-group-addon-right {
	padding: 6px 12px;
	font-size: 14px;
	color: #ccc;
	text-align: center;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
	display:table-cell;
}

.input-group-addon-left {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
}

.input-group-addon-right {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 0;
}

.form-control {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 0;
	height: 32px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #ededed;
	border: 1px solid #ccc;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	margin: 0;
}

/* From Bootstrap - End */
