{% import "import_resetnormalize.html" as reset %}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
        {{ reset.resetnormalize_head() }}
    {% endblock %}
</head>

<body>
    {% block beforeContent %}
    {% endblock %}
    
    {% block content %}
    {% endblock %}

    {% block afterContent %}
    {% endblock %}
    
    {% block script %}
    {% endblock %}
</body>

</html>
