{% import "import_fonts.html" as fonts %}

{% macro waterfall_head() %}
    <link rel="stylesheet" href="/static/museum/waterfall/css/museum_waterfall.css">
    {{ fonts.fonts_head() }}
{% endmacro %}

{% macro waterfall_div(container_id="waterfall-container", render_id="waterfall-tpl", item_class="waterfall-item") %}
    <div id="{{container_id}}"></div>
    <script type="text/x-handlebars-template" id="{{render_id}}">
        {% raw %}
            {{#result}}
        {% endraw %}
        <div class="{{item_class}}">
            {% raw %}
                <div id="museum_waterfall_entry_{{entry_id}}" class="museum_waterfall_item">
                    <img class="museum_waterfall_entry_image mouse-cursor-pointer" src="{{image}}" onclick="location.href='/entry_detail/?id={{entry_id}}'"/>
                    <div class="museum_waterfall_entry_block">
                        <div class="museum-waterfall-entry-name">
                            <span class="mouse-cursor-pointer" onclick="location.href='/entry_detail/?id={{entry_id}}'">{{name}}</span>
                        </div>
                        <hr/>
                        <div class="museum-waterfall-entry-content">{{content}}</div>
                        <hr/>
                    </div>
                        <div class="museum-waterfall-entry-icons">
                            <img class="mouse-cursor-pointer museum-waterfall-icon-center" onclick="like_entry({{entry_id}})" src="/static/museum/waterfall/img/like.png"/>
                            <span id="museum_waterfall_entry_like_{{entry_id}}">{{like}}</span>
                            <img class="museum-waterfall-icon-center" src="/static/museum/waterfall/img/watched.png"/>
                            <span>{{watched}}</span>
                        </div>

                </div>
            {% endraw %}
        </div>
        {% raw %}
            {{/result}}
        {% endraw %}
    </script>
{% endmacro %}

{% macro waterfall_script() %}
    <script src="/static/museum/waterfall/js/libs/handlebars/handlebars.js"></script>
    <script src="/static/museum/waterfall/js/waterfall.min.js"></script>
    <script src="/static/museum/waterfall/js/museum_waterfall.js"></script>
{% endmacro %}
