{% macro navbar_head() %}

{% endmacro %}


{% macro navbar_script() %}
    
{% endmacro %}

{% macro navbar_div() %}
    <div class="title">
		<img class="dtam" src="static/museum/img/DTAM.png" alt="DTAM" />
		<img class="sta_logo" src="static/museum/img/STA_LOGO.png" alt="STA_LOGO" />
		<div class="nav">
			<a href="">首页</a>
		    <a href="">关于我们</a>
		    <a href="">新闻栏目</a>
		    <a href="">研究栏目</a>
		    <a class="current" href="">杂志期刊</a>
		    <a href="">多维度戏剧博物馆</a>
		</div>
	</div>
{% endmacro %}
