{% macro waterfall_head() %}
    <link rel="stylesheet" href="/static/museum/waterfall/css/reset.css">
    <link rel="stylesheet" href="/static/museum/waterfall/css/waterfall.css">
{% endmacro %}

{% macro waterfall_div(container_id="waterfall-container", render_id="waterfall-tpl", item_class="waterfall-item") %}
    <div id="{{container_id}}"></div>
    <script type="text/x-handlebars-template" id="{{render_id}}">
        {% raw %}
        {{#result}}
        {% endraw %}
            <div class="{{item_class}}" id= "{{ entry_id }}">
                {% raw %}
                    <img src="{{image}}"/>
                    <img onclick="like_entry( {{ entry_id }} )" id="like" src="/static/museum/img/like.png" height="20" width="20"/>{{ like }}
                    <img id="watched" src="/static/museum/img/watched.png" height="20" width="20"/>{{ watched }}

                {% endraw %}
            </div>
        {% raw %}
        {{/result}}
        {% endraw %}
    </script>
{% endmacro %}

{% macro waterfall_script() %}
    <script src="/static/museum/waterfall/js/libs/handlebars/handlebars.js"></script>
    <script src="/static/museum/waterfall/js/waterfall.min.js"></script>
{% endmacro %}
