{% import "import_fonts.html" as fonts %}
{% import "import_bootstrap.html" as bootstrap %}

{% macro navbar_head() %}
    {{ fonts.fonts_head() }}
    {{ bootstrap.bootstrap_head() }}
    <link rel="stylesheet" href="/static/museum/navbar/css/navbar.css">
{% endmacro %}

{% macro navbar_script() %}
    {{ bootstrap.bootstrap_script() }}
    <script src="/static/museum/navbar/js/navbar.js"></script>
{% endmacro %}

{% macro navbar_div() %}
    <div class="Navigator">
        <div class="title">
            <img class="dtam" src="/static/museum/navbar/img/DTAM_logo.png" alt="DTAM"/>
            <img class="school_logo" src="/static/museum/navbar/img/school_logo.png" alt="school_logo"/>

            <div id="category" class="nav">
                <div>
                    <div class="navbar_word"><a id="index" href="/">首页</a></div>
                    <div class="navbar_word"><a id="aboutus" href="#">关于我们</a></div>
                    <div class="navbar_word"><a id="news" href="#">新闻栏目</a></div>
                    <div class="navbar_word"><a id="research" href="#">研究栏目</a></div>                
                    <div class="navbar_word"><a id="mag" href="#">杂志期刊</a></div>
                    <div class="navbar_word"><a id="dtam" href="#">多维度戏剧博物馆</a></div>
                </div>
                
                <div>
                    <div class="navbar_underline" id="index_underline"></div>
                    <div class="navbar_underline" id="aboutus_underline"></div>
                    <div class="navbar_underline" id="news_underline"></div>
                    <div class="navbar_underline" id="research_underline"></div>
                    <div class="navbar_underline" id="mag_underline"></div>
                    <div class="navbar_underline" id="dtam_underline"></div>
                </div>
            </div>
        </div>
        <div class="search">
            <form class="search-form" action="#">
                <div class="input-group">
                    <span class="input-group-addon"><img src="/static/museum/navbar/img/search.png"/></span>
                    <input class="form-control" type="text" placeholder="输入关键词" name="search"/>
                </div>
            </form>
        </div>
    </div>
{% endmacro %}
