{% extends "baseNavbarFooter.html" %}

{% import "import_waterfall.html" as waterfall %}
{% import "import_slider.html" as slider %}

{% block head %}
    {{ super() }}
    {{ waterfall.waterfall_head() }}
    {{ slider.slider_head() }}
    <link rel="stylesheet" href="/static/museum/css/index.css">
{% endblock %}

{% block script %}
    {{ super() }}
    {{ waterfall.waterfall_script() }}
    {{ slider.slider_script() }}
    <script src="/static/museum/js/util.js"></script>
    <script src="/static/museum/js/index.js"></script>
{% endblock %}

{% block content %}
    {{ super() }}

    <div class="museum-main-container">
        {{ slider.slider_div("slider") }}
        <div style="clear: both"></div>
        
        <div class="museum-container" role="main">
            {{ waterfall.waterfall_div(container_id="waterfall-container", render_id="waterfall-tpl", item_class="waterfall-item") }}
        </div>
    </div>

{% endblock %}
